.ipynb_checkpoints
__pycache__


# MH:
**/Session13/Day5/Matched_Filter_Data.zip
**/Session13/Day5/Matched_Filter_Data/

**/Session15/Day1/*.txt
**/Session15/Day1/*.npy

**/Session15/Day2/*.csv
**/Session15/Day2/*.txt
**/Session15/Day2/*.tbl
**/Session15/Day2/*.gz
**/Session15/Day3/IMDB*.csv
**/Session15/Day3/IMDb*.gz

**/Session16/Day4/*datasets/
